<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">

<!--
  * plugins/generic/alm/settings.xml
  *
  * Copyright (c) 2013-2014 Simon Fraser University Library
  * Copyright (c) 2003-2014 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  *
  -->

<plugin_settings>
	<setting type="bool">
		<name>enabled</name>
		<value>false</value>
	</setting>
	<setting type="string">
		<name>apiKey</name>
		<value></value>
	</setting>
	<setting type="bool">
		<name>depositArticles</name>
		<value>true</value>
	</setting>
	<setting type="string">
		<name>depositUrl</name>
		<value>http://pkp-alm.lib.sfu.ca/load/deposit.php</value>
	</setting>
</plugin_settings>