<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../dbscripts/xml/dtd/pluginSettings.dtd">

<!--
  * settings.xml
  *
  * Copyright (c) 2003-2007 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  *
  * $Id$
  -->

<plugin_settings>
	<setting type="bool">
		<name>enabled</name>
		<value>true</value>
	</setting>
	<setting type="int">
		<name>seq</name>
		<value>5</value>
	</setting>
	<setting type="int">
		<name>context</name>
		<value>2</value><!-- BLOCK_CONTEXT_RIGHT_SIDEBAR -->
	</setting>
</plugin_settings>

