[submodule "lib/pkp"]
	path = lib/pkp
	url = git://github.com/pkp/pkp-lib
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = git://github.com/asmecher/DuraCloud-PHP
[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = git://github.com/pkp/pdfJsViewer
[submodule "lib/password_compat"]
	path = lib/password_compat
	url = git://github.com/ircmaxell/password_compat.git
[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = git://github.com/ulsdevteam/COUNTER
[submodule "plugins/generic/usageStats/lib/counterBots"]
	path = plugins/generic/usageStats/lib/counterBots
	url = https://github.com/atmire/COUNTER-Robots
