config.inc.php
./build
temp
/files
.htaccess
.project
.buildpath
.settings
.DS_Store
.vs/config/applicationhost.config
.vs/ojs-forked/v14/.suo
Usersdefst_000DesktopPKPojs_files/journals/1/articles/32/submission/proof/32-2-1-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/33/submission/proof/33-5-2-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/34/submission/34-2-3-1-2-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/35/submission/proof/35-2-4-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/35/submission/proof/35-3-5-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/36/submission/proof/36-2-6-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/36/submission/proof/36-3-7-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/37/submission/proof/37-2-8-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/37/submission/proof/37-4-9-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/38/submission/proof/38-2-10-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/38/submission/proof/38-3-11-1-10-20161027.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/39/submission/proof/39-2-12-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/40/submission/proof/40-4-13-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/41/submission/proof/41-3-14-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/42/submission/proof/42-3-15-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/43/submission/proof/43-2-16-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/44/submission/proof/44-3-17-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/45/submission/proof/45-2-18-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/46/submission/proof/46-3-19-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/47/submission/proof/47-2-20-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/48/submission/proof/48-3-22-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/49/submission/proof/49-2-24-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/50/submission/proof/50-2-25-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/51/submission/proof/51-3-26-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/53/submission/proof/53-2-28-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/54/submission/proof/54-1-30-1-10-20161028.ino
Usersdefst_000DesktopPKPojs_files/journals/1/articles/55/submission/proof/55-3-31-1-10-20161028.ino
ojs-forked.phpproj
ojs-forked.phpproj.user
ojs-forked.sln
plugins/generic/pln/PLNGatewayPlugin.inc.php
plugins/generic/pln/PLNPlugin.inc.php
plugins/generic/pln/README
plugins/generic/pln/classes/Deposit.inc.php
plugins/generic/pln/classes/DepositDAO.inc.php
plugins/generic/pln/classes/DepositObject.inc.php
plugins/generic/pln/classes/DepositObjectDAO.inc.php
plugins/generic/pln/classes/DepositPackage.inc.php
plugins/generic/pln/classes/form/PLNSettingsForm.inc.php
plugins/generic/pln/classes/form/PLNStatusForm.inc.php
plugins/generic/pln/classes/tasks/Depositor.inc.php
plugins/generic/pln/controllers/grid/PLNStatusGridCellProvider.inc.php
plugins/generic/pln/controllers/grid/PLNStatusGridHandler.inc.php
plugins/generic/pln/controllers/grid/PLNStatusGridRow.inc.php
plugins/generic/pln/css/pln.css
plugins/generic/pln/index.php
plugins/generic/pln/lib/bagit.php
plugins/generic/pln/lib/bagit_fetch.php
plugins/generic/pln/lib/bagit_manifest.php
plugins/generic/pln/lib/bagit_utils.php
plugins/generic/pln/locale/cs_CZ/locale.xml
plugins/generic/pln/locale/de_DE/locale.xml
plugins/generic/pln/locale/en_US/locale.xml
plugins/generic/pln/locale/fr_CA/locale.xml
plugins/generic/pln/locale/fr_FR/locale.xml
plugins/generic/pln/locale/it_IT/locale.xml
plugins/generic/pln/locale/nl_NL/locale.xml
plugins/generic/pln/locale/pt_BR/locale.xml
plugins/generic/pln/locale/ru_RU/locale.xml
plugins/generic/pln/locale/tr_TR/locale.xml
plugins/generic/pln/locale/zh_CN/locale.xml
plugins/generic/pln/pages/PLNHandler.inc.php
plugins/generic/pln/ping.dtd
plugins/generic/pln/templates/ping.tpl
plugins/generic/pln/templates/settings.tpl
plugins/generic/pln/templates/setup.tpl
plugins/generic/pln/templates/status.tpl
plugins/generic/pln/version.xml
plugins/generic/pln/xml/scheduledTasks.xml
plugins/generic/pln/xml/schema.xml
plugins/generic/pln/xml/settings.xml
plugins/importexport/quickSubmit/QuickSubmitForm.inc.php
plugins/importexport/quickSubmit/QuickSubmitPlugin.inc.php
plugins/importexport/quickSubmit/README.md
plugins/importexport/quickSubmit/index.php
plugins/importexport/quickSubmit/index.tpl
plugins/importexport/quickSubmit/js/QuickSubmitFormHandler.js
plugins/importexport/quickSubmit/js/QuickSubmitSiteHandler.js
plugins/importexport/quickSubmit/locale/ca_ES/locale.xml
plugins/importexport/quickSubmit/locale/cs_CZ/locale.xml
plugins/importexport/quickSubmit/locale/da_DK/locale.xml
plugins/importexport/quickSubmit/locale/de_DE/locale.xml
plugins/importexport/quickSubmit/locale/el_GR/locale.xml
plugins/importexport/quickSubmit/locale/en_US/locale.xml
plugins/importexport/quickSubmit/locale/es_AR/locale.xml
plugins/importexport/quickSubmit/locale/es_ES/locale.xml
plugins/importexport/quickSubmit/locale/eu_ES/locale.xml
plugins/importexport/quickSubmit/locale/fa_IR/locale.xml
plugins/importexport/quickSubmit/locale/fr_CA/locale.xml
plugins/importexport/quickSubmit/locale/fr_FR/locale.xml
plugins/importexport/quickSubmit/locale/id_ID/locale.xml
plugins/importexport/quickSubmit/locale/it_IT/locale.xml
plugins/importexport/quickSubmit/locale/ja_JP/locale.xml
plugins/importexport/quickSubmit/locale/nl_NL/locale.xml
plugins/importexport/quickSubmit/locale/no_NO/locale.xml
plugins/importexport/quickSubmit/locale/pl_PL/locale.xml
plugins/importexport/quickSubmit/locale/pt_BR/locale.xml
plugins/importexport/quickSubmit/locale/pt_PT/locale.xml
plugins/importexport/quickSubmit/locale/ro_RO/locale.xml
plugins/importexport/quickSubmit/locale/ru_RU/locale.xml
plugins/importexport/quickSubmit/locale/sr_SR/locale.xml
plugins/importexport/quickSubmit/locale/sv_SE/locale.xml
plugins/importexport/quickSubmit/locale/tr_TR/locale.xml
plugins/importexport/quickSubmit/locale/uk_UA/locale.xml
plugins/importexport/quickSubmit/locale/zh_CN/locale.xml
plugins/importexport/quickSubmit/submitSuccess.tpl
plugins/importexport/quickSubmit/version.xml
