@php
    $citeConfig = null;
    if ($citation) {
        $citeConfig = [
            'citation' => $citation,
            'citationArgs' => $citationArgs,
            'citationArgsJson' => $citationArgsJson,
            'citationStyles' => $citationStyles,
            'citationDownloads' => $citationDownloads,
            'citationPrimaryStyle' => $citationPrimaryStyle,
            'tSelectedFormat' => __('submission.howToCite.selectedFormat'),
            'tCitationFormats' => __('submission.howToCite.citationFormats'),
            'tCopyToClipboard' => __('submission.howToCite.copyToClipboard'),
            'tCopied' => __('common.copied'),
        ];
    }

    $shareOptions = $activeTheme->getOption('shareOptions');
@endphp

<div class="article-sidebar">
    <div class="article-sidebar-top">
        <x-article.download
            :primaryGalleys="$primaryGalleys"
            :jatsDownloadUrl="$jatsDownloadUrl"
            :supplementaryGalleys="$supplementaryGalleys"
            :publication="$publication"
            :submission="$article"
        />
        @if ($citeConfig)
            <x-dropdown
                class="article-sidebar-cite"
                :showClose="true"
                triggerClass="article-sidebar-cite-button"
            >
                <x-slot:trigger>
                    @include('components/icons/cite')
                    {{ __('plugins.themes.eidos.cite') }}
                </x-slot:trigger>
                <pkp-cite-body v-bind='@json($citeConfig)'></pkp-cite-body>
            </x-dropdown>
        @endif
        @if ($shareOptions)
            <x-dropdown
                class="article-sidebar-share"
                triggerClass="article-sidebar-share-button"
            >
                <x-slot:trigger>
                    @include('components/icons/share')
                    {{ __('plugins.themes.eidos.share') }}
                </x-slot:trigger>
                <x-share-links
                    :share-options="$shareOptions"
                    title="{{ $submission->getCurrentPublication()->getLocalizedFullTitle() }}"
                    url="{{
                        ViewHelper::url([
                            'page' => 'article',
                            'op' => 'view',
                            'path' => $submission->getBestId(),
                        ])
                    }}"
                />
            </x-dropdown>
        @endif
    </div>

    @php
        $blocks = $getBlocks($metadataBlocks, 'sidebarArticleMetadata');
    @endphp
    @if (count($blocks))
        @foreach ($blocks as $block)
            <x-dynamic-component
                :component="$block->component"
                headingTag="h3"
                :id="$block->id"
                :title="$block->title"
                :$publication
                :submission="$article"
            />
        @endforeach
    @endif
</div>