<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">

<!--
  * plugins/importexport/medra/settings.xml
  *
  * Copyright (c) 2014-2020 Simon Fraser University
  * Copyright (c) 2003-2020 John Willinsky
  * Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  -->

<plugin_settings>
	<setting type="string">
		<name>registrantName</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>fromCompany</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>fromName</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>fromEmail</name>
		<value></value>
	</setting>
	<setting type="string">
		<name>publicationCountry</name>
		<value>US</value> <!-- ISO 3166-1 -->
	</setting>
	<setting type="int">
		<name>exportIssuesAs</name>
		<value>1</value> <!-- O4DOI_ISSUE_AS_WORK -->
	</setting>
</plugin_settings>
