<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">

<!--
  * plugins/blocks/information/settings.xml
  *
  * Copyright (c) 2014-2021 Simon Fraser University
  * Copyright (c) 2003-2021 John Willinsky
  * Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  *
  -->

<plugin_settings>
	<setting type="bool">
		<name>enabled</name>
		<value>true</value>
	</setting>
	<setting type="int">
		<name>seq</name>
		<value>7</value>
	</setting>
</plugin_settings>

