<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin_settings SYSTEM "../../../lib/pkp/dtd/pluginSettings.dtd">

<!--
  * plugins/generic/lucene/settings.xml
  *
  * Copyright (c) 2014-2018 Simon Fraser University
  * Copyright (c) 2003-2018 John Willinsky
  * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
  *
  * Default plugin settings.
  *
  -->

<plugin_settings>
	<setting type="bool">
		<name>enabled</name>
		<value>false</value>
	</setting>
	
	<!-- Search Handler Configuration -->
	<setting type="string">
		<name>searchEndpoint</name>
		<value>http://localhost:8983/solr/ojs/search</value>
	</setting>
	<setting type="string">
		<name>username</name>
		<value>admin</value>
	</setting>
	<setting type="string">
		<name>password</name>
		<value>please change</value>
	</setting>
	<setting type="string">
		<name>instId</name>
		<value>localhost</value>
	</setting>
	
	<!-- Email Timestamp to avoid DoS/Spam attacks -->
	<setting type="int">
		<name>lastEmailTimestamp</name>
		<value>0</value>
	</setting>
	
	<!-- Search Features -->
	<setting type="bool">
		<name>autosuggest</name>
		<value>true</value>
	</setting>
	<setting type="int">
		<name>autosuggestType</name>
		<value>2</value> <!-- Default: Use faceting for auto-suggest. -->
	</setting>
	<setting type="bool">
		<name>spellcheck</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>pullIndexing</name>
		<value>false</value> <!-- Pull indexing is an advanced feature and is therefore switched off by default -->
	</setting>
	<setting type="bool">
		<name>simdocs</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>highlighting</name>
		<value>true</value>
	</setting>
	<setting type="bool"> <!-- Facet categories can be enabled individually. We therefore need one setting per category. -->
		<name>facetCategoryDiscipline</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategorySubject</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategoryType</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategoryCoverage</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategoryJournalTitle</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategoryAuthors</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>facetCategoryPublicationDate</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>customRanking</name>
		<value>false</value>
	</setting>
	<setting type="bool">
		<name>instantSearch</name>
		<value>true</value>
	</setting>
	<setting type="bool">
		<name>rankingByMetric</name>
		<value>false</value>
	</setting>
	<setting type="bool">
		<name>sortingByMetric</name>
		<value>false</value>
	</setting>
</plugin_settings>

