<svg width="193" height="256" viewBox="0 0 193 256" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="-68.6055" y="27.1055" width="193" height="18.0706" fill="currentColor"/>
    <rect x="-33.1719" y="52.707" width="193" height="18.0706" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 266.129 118.965)" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 251.805 137.035)" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 279.699 155.105)" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 275.176 173.176)" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 266.129 191.246)" fill="currentColor"/>
    <rect width="193" height="9.03529" transform="matrix(-1 0 0 1 336.242 210.07)" fill="currentColor"/>
    <rect x="2" y="2" width="189" height="252" stroke="currentColor" stroke-width="4"/>
</svg>
