<x-layout.basic
    title="{{ __('manager.setup.privacyStatement') }}"
    pageId="about"
>
    <div class="html-text">
        {!! ViewHelper::sanitizeHtml($privacyStatement) !!}
    </div>
</x-layout.basic>