<x-system.layout
    pageTitle="{{ __('user.login.resetPassword') }}"
>
    <div class="system-main">
        <div class="system-header">
            <h1 class="system-title">
                {{ __('user.login.resetPassword') }}
            </h1>
        </div>
        <form
            class="system-form"
            method="post"
            action="{{ ViewHelper::url(['page' => 'login', 'op' => 'requestResetPassword']) }}"
        >
            {!! ViewHelper::csrfFormField() !!}
            @if ($error)
                <div class="system-form-error" role="alert">
                    {{ __($error, ['reason' => $reason]) }}
                </div>
            @endif
            <p>
                {{ __('user.login.resetPasswordInstructions') }}
            </p>
            <x-system.form-input
                autocomplete="email"
                error="{{ null }}"
                id="email"
                label="{!! __('user.login.registeredEmail') !!}"
                name="email"
                type="email"
                required={{ true }}
                value="{{ $email ?? '' }}"
            />

            @if ($altchaEnabled)
                <altcha-widget challengejson='@json($altchaChallenge)' floating></altcha-widget>
            @endif

            <div class="system-form-buttons">
                <button class="system-button" type="submit">
                    {{ __('user.login.resetPassword') }}
                </button>

                @if(!$disableUserReg)
                    @php
                        $registerUrlParams = ['page' => 'user', 'op' => 'register'];
                        if ($source) {
                            $registerUrlParms['source'] = $source;
                        }
                    @endphp
                    <a class="system-button-secondary" href="{{ ViewHelper::url($registerUrlParams)}}">
                        {{ __('plugins.themes.eidos.createAccount') }}
                    </a>
                @endif
            </div>

        </form>
    </div>
</x-system.layout>
